# Ignore raw data
data/raw/
data/raw_from_datasetv1/
data/dataset/
data/datasets/
*.xlsx
*.csv

#ignore dataset
data/processed/
data/DatasetV1/

# Virtual environment
venv/

# Models & Weights
src/models/saved_models/*
!src/models/saved_models/xlmr_phishing_onnx/
!src/models/saved_models/yolo26n_logo_detector.pt
!src/models/saved_models/url_xgboost.pkl

# WebDriver
*.exe

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
