# Ignore raw data
data/raw/

# Virtual environment
venv/

# WebDriver
*.exe

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# Model files (heavy)
*.pkl
*.pt
*.pth
*.h5
*.onnx
*.safetensors
src/models/saved_models/