pandas
requests
beautifulsoup4
tldextract
scikit-learn
numpy
fastapi
uvicorn[standard]
pydantic
python-multipart
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
transformers
ultralytics
joblib
Pillow
gunicorn